body {
  padding: 50px;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
#container {
  display: flex;
}

.ptsPredictions {
  width: 400px;
  height: 100%;
  border: 2px solid palevioletred;
  border-radius: 25px;
  float: left;
  padding: 20px;
}

.ptsPrediction {
  text-align: center;
}

.ptsFullTable {
  width: 400px;
  height: 100%;
  border: 2px solid blue;
  border-radius: 25px;
  float: left;
  padding: 20px;
}

.ptsMain {
  margin-bottom: 10px;
}

.ptsMain .enter input {
  padding: 5px;
  font-size: 12px;
  width: 200px;
  float: left;
  padding-bottom: 10px;
  margin: 10px;
}

.ptsMain .enter label {
  padding: 5px;
  font-size: 14px;
  width: 100px;
  font-weight: bold;
  float: left;
  padding-bottom: 10px;
  margin: 10px;
}

.ptsMain .enter select {
  padding: 9px;
  margin-left: 20px;
  font-size: 16px;
  width: 60px;
}

.ptsMain .enter button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066ff;
  color: #ffffff;
  border: 2px solid #0066ff;
  float: left;
}
.ptsMain .enter button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}

.ptsMain .matches input {
  padding: 5px;
  font-size: 12px;
  width: 200px;

  margin: 10px;
}

.ptsMain .matches label {
  padding: 5px;
  font-size: 14px;
  width: 100px;
  font-weight: bold;
  margin: 10px;
}

.ptsMain .matches select {
  padding: 9px;
  margin-left: 20px;
  font-size: 16px;
  width: 60px;
}

.ptsMain .matches button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066ff;
  color: #ffffff;
  border: 2px solid #0066ff;
  float: left;
}
.ptsMain .matches button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}
.slider {
  width: 100px;
  border: 2px solid blue;
  border-radius: 25px;
  float: left;
  padding: 20px;
}

.sliderTable {
  border: 2px solid #003399;
  border-collapse: collapse;
  font-size: 16px;
}

.sliderTable,
th,
td {
  border: 1px solid #003399;
  text-align: center;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.sliderTable th {
  background-color: #0066ff;
  color: white;
}

.sliderTable .minus {
  background-color: pink;
}
.sliderTable .plus {
  background-color: green;
}
.sliderTable .even {
  background-color: orange;
}

.sliderTable .token {
  color: red;
  background-color: #003399;
  font-size: 20px;
  font-weight: bold;
}
